---
layout: layouts/home.njk
tags:
  - nav
navtitle: Home
---

<h1>Latest Questions</h1>

{% set questionslist = collections.questions %}
{% include "questionslist.njk" %}

<p>More questions can be found in <a href="{{ '/questions/' | url }}">the archive</a>.</p>
