---
layout: layouts/question
tags:
  - questions
pagination:
  alias: question
  data: questions
  size: 1
  addAllPagesToCollections: true
permalink: questions/{{ question.slug | slug }}/index.html
---


