@import "tailwindcss/tailwind.css";

html {
  font-family: "Lora", serif;
  --hatch-color-1: #4986ca;
  --hatch-color-2: #93c5fd;
  /* --hatch-color-3: #6ca8ec; */
  /* --hatch-color-4: hsl(212, 77%, 80%); */
  --hatch-color-3: lch(30.43 25.49 258.56 / 1);
  --hatch-color-4: lch(18.43 19.49 258.56 / 1);
}

.text-shadow {
  text-shadow: 0 0 8px var(--hatch-color-1);
}

.text-shadow-unlocked:not(:focus, :hover) {
  text-shadow: 0 0 8px var(--hatch-color-1);
}

.inner-shadow {
  box-shadow: inset 0 0 64px var(--hatch-color-2);
}

.hatch-locked {
  background-color: var(--hatch-color-4);
  pointer-events: none;
}

.hatch-unlocked {
  background-color: var(--hatch-color-3);

  &:hover,
  &:focus {
    background-color: hsl(208 53% 36% / 1);
  }
}

.hatch-badge {
  position: absolute;
  right: 16px;
  top: 16px;
}

.text-blue-900 {
  /* Yeah I know, but I didn't feel like setting the color everywhere */
  color: lch(60.34 50.58 285.8 / 1) !important;
}