---
layout: layouts/base.njk
templateClass: tmpl-post
---
<article>
  <audio class="quiz-audio" src="{{question.audioTrackUrl}}" controls></audio>
  <button type="button" class="play-pause" aria-label="Play" data-current-state="pause">
    <svg aria-hidden="true" class="play-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><polygon points="10 8 16 12 10 16 10 8"></polygon></svg>
    <svg aria-hidden="true" class="pause-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-pause-circle"><circle cx="12" cy="12" r="10"></circle><line x1="10" y1="15" x2="10" y2="9"></line><line x1="14" y1="15" x2="14" y2="9"></line></svg>
  </button>
  <div class="answer-container">
    <label>
      <h2>Skriv svaret her</h2>
      <p>Skriv navn på artist, navn på låt, eller lim inn en Spotify-lenke</p>
      <input type="text" class="guess-input" placeholder="kom igjen, gjett" />
    </label>
    <button type="button" class="answer-button">Answer</button>
  </div>

  <h2>Hints:</h2>
  <button type="button" class="show-hint">Show next hint</button>
  <ol>
  {% for hint in question.hints %}
    <li class="hint">
      {{hint}}
    </li>
  {% endfor %}
  </ol>

  <p><a href="{{ '/' | url }}">← Home</a></p>
</article>

<script>
  const states = {
    PLAY: "play",
    PAUSE: "pause",
  };

  const audio = document.querySelector(".quiz-audio");
  const playPauseButton = document.querySelector(".play-pause");

  playPauseButton.addEventListener("click", () => {
    const currentState = playPauseButton.dataset.currentState;
    const isPlaying = currentState === states.PLAY;

    if (isPlaying) {
      playPauseButton.dataset.currentState = states.PAUSE;
      audio.play();
    } else {
      playPauseButton.dataset.currentState = states.PLAY;
      audio.pause();
    }
  });

  const answerInput = document.querySelector(".guess-input");
  const answerButton = document.querySelector(".answer-button");
  answerButton.addEventListener("click", () => {
    if (answerInput.value.toLowerCase() === "Coldplay - Speed of Sound".toLowerCase()) {
      alert("CORRECT");
      answerInput.value = "";
    } else {
      alert ("FALSE");
    }
  })
</script>
